<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnNotice="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <!-- Test-DB: getrennt von der Entwicklungs-DB. Wird im Bootstrap
             angelegt und migriert. DB_NAME überschreibt hier den .env-Wert,
             weil der Bootstrap diese Werte VOR Config::boot() in die
             Umgebung schreibt (Dotenv safeLoad überschreibt sie nicht). -->
        <env name="APP_ENV" value="testing"/>
        <env name="DB_NAME" value="gravelexplorer_test"/>
        <env name="STRAVA_FAKE" value="1"/>
        <env name="MAIL_HOST" value=""/>
    </php>
</phpunit>
